{% extends "learning_logs/base.html" %}

{% block content %}
    <div style="background-color: #FACA45; color: #ffffff;">
<p>Learning Log</p>
<p>Learning Log helps you keep track of your learning, for any topic you're
learning about.</p>
    </div>
{% endblock content%}

{% block bluebox %}
    <div style="background-color: #0081FF; color: #ffffff;">
<p>blueboxbluebox</p>
<p>blueboxblueboxblueboxblueboxblueboxblueboxbluebox</p>
    </div>
{% endblock bluebox%}

{% block jise %}
    <div style="background-color: #500015; color: #ffffff;">
<p>Jise</p>
<p>jisejisejisejisejisejisejisejise</p>
    </div>
{% endblock jise%}

{% block content2 %}
    <div style="background-color: #FFFE7E; color: #ffffff;">
<p>454545</p>
<p>454545455555555555555555555555555555555555555555555555555555555555555555555555555555555</p>
    </div>
{% endblock content2%}